<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <!-- og format -->
    <meta property="og:title" content="" />
    <!-- bar color -->
    <meta name="theme-color" content="#fff" />
    <meta name="msapplication-navbutton-color" content="#fff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff" />
    <!-- favicon -->
    <!--<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">-->
    <!--<link rel="apple-touch-icon" href="assets/images/apple-touch-icon152.png" sizes="152x152">-->
    <title>home</title>
  </head>

  <body>
    <div class="wrapper" id="wrapper">
      <main class="app" id="app">
          <section class="intro">
              <div class="container">
                  <div class="intro__inner">
                      <!-- start component -->
                      <div class="clients-count" data-client-counter="10">
                          <ul class="clients-count__icons" data-client-counter-icons>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                          </ul>
                          <nav class="clients-count__nav">
                              <button type="button" class="clients-count__nav-btn" data-client-counter-btn="decrease">
                                  <svg width="17" height="4" viewBox="0 0 17 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M2.02344 1.78809H15.4984" stroke="currentColor" stroke-width="2.45" stroke-linecap="round"/>
                                  </svg>
                              </button>
                              <div>
                                  <label class="clients-count__text">
                                      Кол-во студентов: <span data-client-counter-amount="span"></span>
                                      <input type="hidden" name="clients-amount" data-client-counter-amount="input">
                                  </label>
                                  <label class="clients-count__text">
                                      Сумма: $ <span data-client-counter-price="span"></span>
                                      <input type="hidden" name="clients-price" data-client-counter-price="input">
                                  </label>
                              </div>
                              <button type="button" class="clients-count__nav-btn" data-client-counter-btn="increase">
                                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M1.94531 8.56152H15.4203" stroke="currentColor" stroke-width="2.45" stroke-linecap="round"/>
                                      <path d="M8.67969 15.2988L8.67969 1.82383" stroke="currentColor" stroke-width="2.45" stroke-linecap="round"/>
                                  </svg>
                              </button>
                          </nav>
                      </div>
                      <!-- end component -->
                  </div>
                  <div class="intro__inner">
                      <!-- start component -->
                      <div class="clients-count" data-client-counter="20">
                          <ul class="clients-count__icons" data-client-counter-icons>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                          </ul>
                          <nav class="clients-count__nav">
                              <button type="button" class="clients-count__nav-btn" data-client-counter-btn="decrease">
                                  <svg width="17" height="4" viewBox="0 0 17 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M2.02344 1.78809H15.4984" stroke="currentColor" stroke-width="2.45" stroke-linecap="round"/>
                                  </svg>
                              </button>
                              <div>
                                  <label class="clients-count__text">
                                      Кол-во студентов: <span data-client-counter-amount="span"></span>
                                      <input type="hidden" name="clients-amount" data-client-counter-amount="input">
                                  </label>
                                  <label class="clients-count__text">
                                      Сумма: $ <span data-client-counter-price="span"></span>
                                      <input type="hidden" name="clients-price" data-client-counter-price="input">
                                  </label>
                              </div>
                              <button type="button" class="clients-count__nav-btn" data-client-counter-btn="increase">
                                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M1.94531 8.56152H15.4203" stroke="currentColor" stroke-width="2.45" stroke-linecap="round"/>
                                      <path d="M8.67969 15.2988L8.67969 1.82383" stroke="currentColor" stroke-width="2.45" stroke-linecap="round"/>
                                  </svg>
                              </button>
                          </nav>
                      </div>
                      <!-- end component -->
                  </div>
                  <div class="intro__inner">
                      <!-- start component -->
                      <div class="clients-count" data-client-counter>
                          <ul class="clients-count__icons" data-client-counter-icons>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                              <li class="clients-count__icon">
                                  <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="8.75" cy="5.75" r="4.85" stroke="currentColor" stroke-width="1.8"/>
                                      <path d="M5 13.9H13C15.2644 13.9 17.1 15.7356 17.1 18V20.1H0.9V18C0.9 15.7356 2.73563 13.9 5 13.9Z" stroke="currentColor" stroke-width="1.8"/>
                                  </svg>
                              </li>
                          </ul>
                          <nav class="clients-count__nav">
                              <button type="button" class="clients-count__nav-btn" data-client-counter-btn="decrease">
                                  <svg width="17" height="4" viewBox="0 0 17 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M2.02344 1.78809H15.4984" stroke="currentColor" stroke-width="2.45" stroke-linecap="round"/>
                                  </svg>
                              </button>
                              <div>
                                  <label class="clients-count__text">
                                      Кол-во студентов: <span data-client-counter-amount="span"></span>
                                      <input type="hidden" name="clients-amount" data-client-counter-amount="input">
                                  </label>
                                  <label class="clients-count__text">
                                      Сумма: $ <span data-client-counter-price="span"></span>
                                      <input type="hidden" name="clients-price" data-client-counter-price="input">
                                  </label>
                              </div>
                              <button type="button" class="clients-count__nav-btn" data-client-counter-btn="increase">
                                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M1.94531 8.56152H15.4203" stroke="currentColor" stroke-width="2.45" stroke-linecap="round"/>
                                      <path d="M8.67969 15.2988L8.67969 1.82383" stroke="currentColor" stroke-width="2.45" stroke-linecap="round"/>
                                  </svg>
                              </button>
                          </nav>
                      </div>
                      <!-- end component -->
                  </div>
              </div>
          </section>
      </main>
    </div>
  </body>
</html>
